@using WebUI.Models
@model BooksListViewModel

@{
    ViewBag.Title = "Книги";
}

@foreach (var book in Model.Books)
{
    <div>
        <h3>@book.Name - @book.Author</h3>
        <p>@book.Description</p>
        <h4>@book.Price.ToString("# руб")</h4>
    </div>
    <hr />
}

<div>
    @Html.PageLinks(Model.PagingInfo,x => Url.Action("List", new { page=x}))
</div>

