@model WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "BookStore: Ваша корзина";
}

<h2>ViewBag.Title</h2>
<table class="table">
    <thead>
    <th>Количество</th>
    <th>Наименование</th>
    <th class="text-right">Цена</thclass="text-right">
    <th class="text-right">Итого</th>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Book.Name - @line.Book.Author</td>
                <td class="text-right">@line.Book.Price.ToString("# руб")</td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("# руб"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупку</a>
</div>
